<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--включает сканирование компонентов-->
    <context:component-scan base-package="misha"/>


    <!--    &lt;!&ndash;импотрируем файл с зависимостями&ndash;&gt;-->
    <!--    <context:property-placeholder location="classpath:musicPlayer.properties"/>-->
    <!--    &lt;!&ndash;описание бина&ndash;&gt;-->
    <!--    &lt;!&ndash;    <bean id="musicBean1"&ndash;&gt;-->
    <!--    &lt;!&ndash;          class="misha.RockMusic">&ndash;&gt;-->
    <!--    &lt;!&ndash;    </bean>&ndash;&gt;-->
    <!--    &lt;!&ndash;    <bean id="musicBean2"&ndash;&gt;-->
    <!--    &lt;!&ndash;          class="misha.JazzMusic">&ndash;&gt;-->
    <!--    &lt;!&ndash;    </bean>&ndash;&gt;-->
    <!--    <bean id="musicBean3"-->
    <!--          class="misha.ClassicalMusic"-->
    <!--          init-method="doMyInit"-->
    <!--          destroy-method="doMyDestroy"-->
    <!--          factory-method="getClassicalMusic">-->

    <!--    </bean>-->

    <!--    &lt;!&ndash;    <bean id="musicPlayer"&ndash;&gt;-->
    <!--    &lt;!&ndash;          class="misha.MusicPlayer"&ndash;&gt;-->
    <!--    &lt;!&ndash;          scope="prototype">&ndash;&gt;-->
    <!--    &lt;!&ndash;        <property name="musicList">&ndash;&gt;-->
    <!--    &lt;!&ndash;            <list>&ndash;&gt;-->
    <!--    &lt;!&ndash;                <ref bean="musicBean1"/>&ndash;&gt;-->
    <!--    &lt;!&ndash;                <ref bean="musicBean2"/>&ndash;&gt;-->
    <!--    &lt;!&ndash;                <ref bean="musicBean3"/>&ndash;&gt;-->
    <!--    &lt;!&ndash;            </list>&ndash;&gt;-->
    <!--    &lt;!&ndash;        </property>&ndash;&gt;-->


    <!--    &lt;!&ndash;        <property name="name" value="${musicPlayer.name}"/>&ndash;&gt;-->
    <!--    &lt;!&ndash;        <property name="value" value="${musicPlayer.value}"/>&ndash;&gt;-->
    <!--    &lt;!&ndash;    </bean>&ndash;&gt;-->


</beans>